.header{
    position: fixed;
    top: 30%;
    left: 13%;
    color: rgba(12, 12, 27, 0.925);
    text-align: left;
    font-family: 'Merienda One', cursive;

    h2{
        font-size: 5rem;
    }
    p{
        font-size: 1.5rem;
    }

}

.btn{
    font-size: 2rem;
    margin-top: 2rem;
    padding: 10px;
    background-color: #008ecc;
    color: whitesmoke;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0 2px 3px rgba($color: #000000, $alpha: 0.4);
    font-family: 'Roboto', sans-serif;

    &:hover{
        box-shadow: 0 3px 2px rgba($color: #000000, $alpha: 0.5);
        transform: scale(1.05) translateY(-2px);
    }
    &:active{
        transform: scale(1.01) translateY(-1px);
        box-shadow: 0 2px 3px rgba($color: #000000, $alpha: 0.4);
    }
}